{% extends "base.jinja" %}

{% block content %}
    <h2>CDN 109</h2>
    <h3>Instructors</h3>
    {% for instructor in cdn['instructors'] %}
        <span>{{ instructor }} </span>
    {% endfor %}
    <h3>Students</h3>
    {% for student in cdn.students %}
        <p>{{student}}</p>
    {% endfor %}
{% endblock %}