{% extends "base.jinja" %}

{% block content %}
    <h2>Home Page</h2>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <p>
            {{ form.make.label }}
            {{ form.make(size=32) }}
        </p>
        <p>
            {{ form.model.label }}
            {{ form.model(size=32) }}
        </p>
        <p>
            {{ form.year.label }}
            {{ form.year(size=32) }}
        </p>
        <p>
            {{ form.color.label }}
            {{ form.color(size=32) }}
        </p>
        <p>
            {{ form.price.label }}
            {{ form.price(size=32) }}
        </p>
        <p>
            {{ form.submit(class='btn btn-primary') }}
        </p>
    </form>
{% endblock %}